@use './app/components/navigation/navigation.scss';
@import "primeicons/primeicons.css";
@import "tailwindcss";


/* You can add any global overrides here if needed */
body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--surface-ground); 
}
