<nav class="menu">
  <ul>
    @for (item of items; track item.label){
      <li>
        <a
          (click)="itemClick(item)"
          [routerLink]="item.routerLink"
          routerLinkActive="active-route"
          tabindex="0"
          pRipple
        >
          <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
          <span class="layout-menuitem-text">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
</nav>

<p-drawer [(visible)]="sidebarVisible" position="left" [showCloseIcon]="true">
  <ng-template pTemplate="header">
    <h3>{{ drawerHeader }}</h3>
  </ng-template>

  <div class="drawer-content">
    <p-menu [model]="drawerItems"></p-menu>
  </div>
</p-drawer>