<nav class="menu">
  <ul>
    @for (item of items; track item.label){
      <li>
        <a
          (click)="itemClick($event, item)"
          [routerLink]="item.routerLink"
          routerLinkActive="active-route"
          [routerLinkActiveOptions]="{ exact: true }"
          tabindex="0"
          pRipple
        >
          <i [ngClass]="item.icon" class="layout-menuitem-icon"></i>
          <span class="layout-menuitem-text">{{ item.label }}</span>
        </a>
      </li>
    }
  </ul>
</nav>

<p-drawer [(visible)]="sidebarVisible" position="left" [showCloseIcon]="true">
  <ng-template pTemplate="header">
    <h3>{{ drawerHeader }}</h3>
  </ng-template>

  <div class="drawer-content">
    <ul class="p-list-unstyled">
      @for(page of drawerItems; track page.label){
        <li>
          <a
            [routerLink]="page.link"
            (click)="onDrawerItemClick()" 
            tabindex="0"
            pRipple
            routerLinkActive="active-drawer-route"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <i [ngClass]="page.icon" class="p-mr-2"></i>
            <span>{{ page.label }}</span>
          </a>
        </li>
      }
    </ul>
  </div>
</p-drawer>